:root{
    --bg-main-color:#355691;
    --light-font-color: #dddddd;
    --tray-color: #3F4045;
    --black-coffee: #30292F;
    --independence:  #413F54;
    --liberty: #5f5aa2;
    --y-in-mn-blue: #355691;
    --onyx: #3F4045;
    --radius-size: 10px;
    --standard-padding: 10px;
    --standard-margin: 5px;
    font-size: 25px;
    font-family: 'Hind Madurai', sans-serif;
    --icon-font: 'Itim', cursive
}
div{
    padding: 1px;
    border: solid 1px #909090
}