:root {
    --dark-liver: #52414C;
    --green-ebony: #596157;
    --bs-primary: #596157;
    --middle-green: #5B8C5A;
    --bs-success: #5B8C5A;
    --khaki-lightkhaki: #cfd186;
    --fire-opal: #E3655B;
    --bs-danger: #E3655B;
    --liberty: #5f5aa2;
    --y-in-mn-blue: #355691;
    --onyx: #3F4045;
    --radius-size: 10px;
    --standard-padding: 10px;
    --standard-margin: 5px;
    font-size: 14px;
    font-family: 'Hind Madurai', sans-serif;
    --icon-font: 'Itim', cursive
}

.btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

.btn-primary:hover {
    background-color: var(--middle-green);
    border-color: var(--middle-green);
}

.btn-success {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
}

.bg-greenebony {
    background-color: var(--green-ebony);
}

body {
    /* background-color: var(--khaki-lightkhaki); */
}

#nugget {
    padding: .5rem;
    border-radius: .25rem;
    border: solid 1px #909090;
}

div {
    padding: 1px;
    border-radius: 1rem;
    background-color: transparent;
}

.card {
    background-color: transparent;
    border-radius: .75rem;
    border: solid 1px #909090;
}

.candidate-word {
    background: rgb(126, 169, 170);
}

.candidate-word:hover {
    background: rgb(194, 194, 149);
}

.fa-plus-square:hover {
    font-weight: 900;
}

.card-body {
    padding: 0rem 0rem;
}

.deck-card {
    background-color: var(--khaki-lightkhaki);
}

.hypernym-box>ul {
    padding-left: .75rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    padding-inline-start: 20px;
}

li.fakeout>i {
    padding-left: .5rem;
}

.nav-link {
    color: white;
}

a {
    color: #3F4045;
    text-decoration: none;
    background-color: none;
}