{% extends "loggedin-base.html" %} {% block title %} {% endblock %}{% block content %}
<div class="flash">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
</div>
<div class="d-flex flex-row mx-5">
    <div class="w-50 mx-auto" id="myDecks">
        <div class="h2">My Decks</div>
        {% for deck in g.user.decks %}

        <div class="deck-card card col-4 m-1">
            <a href="/decks/view/{{deck.id}}">
                <div class="card-body">
                    <div class="h5 me-4">
                        {{deck.name}}</div>
                    <p>{{deck.description}}</p>
                </div>
                <form class="position-absolute top-0 end-0" action="/decks/{{deck.id}}/delete" method="post">
                    <button type="submit" class="btn-close " type="button" aria-label="Close"></button>
                </form>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="w-50 mx-auto" id="myNuggets">
        <div class="h2">My nuggets</div>
        {% for nugget in g.user.nuggets %}
        <div class="col-12">
            <a href="/nuggets/view/{{nugget.id}}">
                <div class="card-body">
                    <div class="h6 w-75 d-inline">{{nugget.truth}}</div>
                    <form class="d-inline" action="/nuggets/{{nugget.id}}/delete" method="post">
                        <button type="submit" class="btn-close " type="button" aria-label="Close"></button>
                    </form>
                </div>

            </a>
        </div>
        {% endfor %}
    </div>

</div>
<div class="w-25 mx-auto text-center" id="buttons">
    <a href="/decks/create" class="btn btn-primary btn-block btn-lg my-3" id="createDeck">
        Create New Deck
    </a>
    <a href="/nuggets/create" class="btn btn-primary btn-block btn-lg my-3" id="createNugget">
        Create New Nugget
    </a>
</div>

<div class="w-50 mx-auto text-center" id="sharedcollections">
    <div class="h2">Collaborating Collections</div>
    {% for collab_deck in g.user.my_decks %}
    <div class="deck-card card col-12 m-1">
        <a href="/decks/view/{{collab_deck.id}}">
            <div class="card-body">
                <div class="h5 mr-2">
                    {{collab_deck.name}}</div>
                <p>{{collab_deck.description}}</p>
            </div>
            <form class="position-absolute top-0 end-0" action="/decks/{{collab_deck.id}}/collab_user/{{g.user.id}}/remove" method="post">
                <button type="submit" class="btn-close " type="button" aria-label="Close"></button>
            </form>
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %} {% block tailscripts %}
<script src="https://unpkg.com/axios/dist/axios.js"></script>

{% endblock %}