{% extends "base.html" %} {% block title %} {% endblock %} {% block navigation_buttons %} {% endblock %} {% block nav_message %} Welcome {% endblock %} {% block login_status %}Logged in{% endblock %} {% block content %}
<div class="d-flex flex-row w-75 mx-auto">
    <div id="nugget" data-id="" class="w-75" contenteditable=""></div>
    <div id="keywordingpanel" class="w-25">
        <div id="manualKwEntry">
            <div class="ui-widget">
                <label for="kwEntry"></label>
                <input class="" type="text" name="kwEntry" id="kwEntry">
            </div>
            <button id="checkAddKwEntry" class="btn btn-primary btn-block btn-lg my-3">
            Add
        </button>
            <span id="errKwEntry">

        </span>
        </div>
        <div id="KwList">
        </div>
    </div>
    <div id="hypernympanel">
    </div>
</div>
<div id="suggestionspanel" class="mx-5">
    <button id="suggestionsRefreshAll" class="btn btn-primary btn-block btn-lg my-3">
        Suggest replacement words
    </button>
    <div class="row w=100" id="fakeout-suggestions">
    </div>
</div>
<div id="fakeoutpanel" class="mx-5">
    <input type="text" name="typedNewFakeoutKw" id="typedNewFakeoutKw">
    <input type="text" name="typedNewFakeoutWd" id="typedNewFakeoutWd">
    <button id="checkAddFakeoutEntry" class="btn btn-primary btn-block btn-lg my-3">
        Add
    </button>
    <span id="errFakeoutEntry">
    </span>
    <div id="finalizedfakeouts" class="row w-100">
    </div>
    <button id="exampleQuestions" class="btn btn-primary btn-block btn-lg my-3">See Example Questions</button>
</div>
<div id="questions" class="w-75 mx-auto">

</div>

<div id="statistics" class="w-75 mx-auto">

</div>
<div id="finalize" class="mx-5">
    <select name="targetDeck" id="targetDeck">
        <option value=""></option>
    </select>
    <button id="addToDeck" class="btn btn-success btn-block btn-lg my-3">Add to Deck</button>
    <div id="saveToDecks"></div>
    <form method="post" id="newnugget_form">
        {{ form.hidden_tag() }}
        <button type="submit" id="saveMe" class="btn btn-primary btn-block btn-lg my-3">Save and close</button>
        <span id="errSaveandClose">

        </span>
    </form>

</div>

{% endblock %} {% block tailscripts %}
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/nuggetcontrol.js"></script>
{% endblock %}