{% extends "loggedin-base.html" %} {% block title %} {% endblock %}{% block content %}
    <script type="text/javascript">
        {% if nugget_dict %}
        let nugget_var = {{nugget_dict | tojson }}
        {% else %}
        let nugget_var = null;
        {% endif %}
    </script>

<div style="display:none; visibility: hidden" id="data-handoff">
    {% for keyword in nugget.my_keywords %} {% if keyword.place_in_sentence%} {% set loc = keyword.place_in_sentence %} {% else %} {% set loc = "" %}{% endif %}
    <div class="keyword" data-keyword="{{keyword.word}}" data-loc="{{loc}}" data-instancescount="{{keyword.instance_count}}" ,data-partOfSpeech="{{keyword.partOfSpeech}}" data-id="{{keyword.id}}">
        {% for fakeout in keyword.my_fakeouts %} {% if fakeout.hypernym %}
        <div class="fakeout" data-fakeoutword="{{fakeout.fake_word}}" data-hypernym="{{fakeout.hypernym}}" data-relationship="{{fakeout.relationship}}" data-id="{{fakeout.id}}">
        </div>

        {% else %}
        <div class="fakeout" data-fakeoutword="{{fakeout.fake_word}}" data-hypernym="" data-relationship="{{fakeout.relationship}}" data-id="{{fakeout.id}}">
        </div>

        {% endif %} {% endfor %} 
    </div>{% endfor %}
</div>
<div class="d-flex flex-wrap flex-row m-4">
    <div class="h5 w-25 inline">Enter a nugget of truth <br>then choose words to replace
    </div>
    <div id="nugget" class="w-75 inline" contenteditable="">{{nugget.truth}}</div>
    <div class="w-50 mx-auto nugget-err"></div>
</div>


<div id="distractionpanel">
    <div class="ui-widget">
        <div class="d-flex flex-row m-4">
            <div class="h5 w-25 inline">Enter a keyword you want to change here
            </div>
            <label for="kwEntry"></label>
            <input class="w-50" type="text" name="kwEntry" id="kwEntry">
            <span id="errKwEntry"></span>
            <button id="checkAddKeywordEntry" class="btn btn-primary btn-block btn-lg my-3">Add</button>
        </div>
    </div>
    
    <div id="chosen-keywords" class="row border-top border-bottom">
        {% for keyword in nugget.my_keywords%}
        <div class="card-body col-3 mx-3 position-relative border-right border-left border-primary text-center" data-keyword={{keyword.word}}>
            <div class="card-text mb-0 mr-1 text-center validKeyword">{{keyword.word}}</div>
            <button class="deleteKeyword btn-close position-absolute top-0 end-0" type="button" aria-label="Close"></button>
            <span class="badge bg-secondary partOfSpeech">{{keyword.part_of_speech}}</span>
            <span class="badge bg-secondary instanceCount">{{keyword.instance_count}}</span>
            <div class="fakeouts">{% for fakeout in keyword.my_fakeouts %}
                <span class="fakeout bg-success my-2 mr-1 d-block" data-fakeout = "{{fakeout.fake_word}}">
                    {{fakeout.fake_word}}
                    <span><button class="btn-close btn-close-white deleteFakeout" type="button" aria-label="Close"></button>
                    </span>

                </span>
            {% endfor %}

                <div class="ui-widget d-inline">
                    <label for="fakeoutEntry-{{keyword.word}}">Enter a new replacement word here</label><br>
                    <input type="text" name="fakeoutEntry-{{keyword.word}}" id="fakeoutEntry-{{keyword.word}}" class="typedFakeEntry">
                </div>
                <button class="btn btn-success d-inline addFakeout">Add</button>
            </div>
        </div>
        {% endfor %}
    </div>

</div>



<div id="statistics" class="w-75 mx-auto">

</div>
<div id="finalize" class="mx-5">
    <select name="targetDeck" id="targetDeck">
        <option value=""></option>
    </select>
    <button id="addToDeck" class="btn btn-success btn-block btn-lg my-3">Add to Deck</button>
    <div id="saveToDecks">
        {% if decks %} {% for deck in decks%}
        <span class="deckAdd badge bg-success" id="{{deck.id}}">
            {{deck.name}}
            <button class="btn-close btn-close-white" type="button" aria-label="Close"></button>
        </span> {% endfor %} {% endif %}
    </div>
    <form method="post" id="newnugget_form">
        {{ form.hidden_tag() }}
        <button type="submit" id="saveMe" class="btn btn-primary btn-block btn-lg my-3">Save and close</button>
        <span id="errSaveandClose">

        </span>
    </form>

</div>

{% endblock %} {% block tailscripts %}
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/classes.js"></script>
<script src="/static/nuggetcontrol.js"></script>
{% endblock %}