{% extends "loggedin-base.html" %} {% block title %} {% endblock %}{% block content %}
<div class="flash">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
</div>
<div class="deck-title w-50 mx-auto text-center">
    <h1>{{deck.name}}</h1>
</div>
<div class="deck-description w-75 mx-auto">
    <h4>{{deck.description}}</h6>
</div>
<div class="text-center mx-auto w-25">
    <a href="/decks/quiz/{{deck.id}}">
        <button class="btn btn-success my-3 btn-block btn-lg">Take quiz</button>
    </a>
</div>
<div class="nugget-list w-75 mx-auto px-3 py-2 border">
    <div class="d-inline h6">
        nuggets in deck
    </div>
    <div class="d-inline p-2">
        <a href="/decks/{{deck.id}}/nuggets/create" class="btn btn-success">
            <div class="d-inline">
                + add new
            </div>
        </a>
    </div>
    {% for nugget in deck.my_nuggets %} {% if nugget.user_id == g.user.id or access_control == "ADMIN" %}
    <a href="/nuggets/view/{{nugget.id}}">
        <div class="block border-bottom p-2">
            {{nugget.truth}}</div>
    </a>
    {% else %}
    <div class="block border-bottom p-2">
        {{nugget.truth}}</div>
    {% endif %} {% endfor %}
</div>
<div class="collaborator-list w-50 mx-auto text-center">
    <h6>Collaboratoring Users</h6>
    <form class="w-100" method="post" id="addcollab_user">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type != 'hidden' %} {% for error in field.errors %}
        <span class="text-danger">{{error}}</span> {% endfor %}
        <div class="ui-widget d-inline">
            {{ field (placeholder=field.label.text, class="form-control w-50 d-inline") }}
        </div>
        {% endfor %}

        <div class="d-inline">
            <button class="btn btn-success" type="submit">Attach User</button>
        </div>
    </form>
    {% for collab_user in deck.my_users %}
    <div class="collaborating-user d-block">
        <div class="p d-inline">
            {{collab_user.username}}
        </div>
        {% if access_control == "ADMIN" or collab_user.id == user.id %}
        <form class="d-inline" action="/decks/{{deck.id}}/collab_user/{{collab_user.id}}/remove" method="post">
            <button type="submit" class="btn-close " type="button" aria-label="Close"></button>
        </form>
        {% endif %}

    </div>
    <p></p>
    {% endfor %}
</div>

{% endblock %} {% block tailscripts %}
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/deckview.js"></script>
{% endblock %}