{% extends "loggedin-base.html" %} {% block title %} {% endblock %}{% block content %}
<div class="flash">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
</div>
<div class="deck-title w-50 mx-auto text-center">
    <h1>{{deck.name}}</h1>
</div>
<div class="deck-description w-75 mx-auto">
    <h4>{{deck.description}}</h6>
</div>
<div class="text-center mx-auto w-25">
    <a href="/decks/quiz/{{deck.id}}">
        <button class="btn btn-success btn-block btn-lg">Take quiz</button>
    </a>
</div>
<div class="nugget-list w-75 mx-auto">
    <div class="d-inline h6">
        nuggets in deck
    </div>
    <div class="d-inline p-2">
        <a href="/decks/{{deck.id}}/nuggets/create" class="btn btn-success">
            <div class="d-inline">
                + add new
            </div>
        </a>
    </div>
    {% for nugget in deck.my_nuggets %}
    <a href="/nuggets/view/{{nugget.id}}">
        <p>{{nugget.truth}}</p>
    </a>
    {% endfor %}
</div>
<div class="collaborator-list w-25 mx-auto">
    <h6>Collaboratoring Users</h6>
    {% for user in deck.my_users %}
    <p>{{user.username}}</p>
    {% endfor %}
</div>

{% endblock %} {% block tailscripts %}
<script src="https://unpkg.com/axios/dist/axios.js"></script>

{% endblock %}